body{
  margin: none;
  padding: none;
}

.box{
  width: 100vw;
  height: 100vh;
  margin: none;
  padding: none;
}


.bg1 {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
}

.bg2 {
    height: 100vh;
    background-image: url(../img/tune1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.scroll1{
  height:100vh;
  width:auto;
  background-color: red;
}
